.header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.brand {
  padding: 0.5rem 1rem 0.5rem 1.2rem;
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.2rem;
  width: 100px;
}

.links {
  text-decoration: none;
  color: var(--clr-primary-5);
  font-size: 1.2rem;
  font-weight: 500;
}

.links:hover {
  color: #fd6a02;
  text-decoration: none;
}

.icon-container {
  display: none;
}

@media (max-width: 720px) {
  .link-container {
    display: none;
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.2rem 0.5rem 1.2rem;
  }

  .links {
    text-align: center;
    padding: 0.5rem 0;
  }
}

.active {
  color: #fd6a02;
}
