/* @import url("https://fonts.googleapis.com/css?family=Gilda Display"); */
#root,
body,
html {
  height: 100%;
  margin: 0 !important;
  font-family: "Gilda Display", Sans-serif;
}

@font-face {
  font-family: myFirstFont;
  src: url(GildaDisplay-Regular.ttf);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./secBg.jpg);
  /* background-repeat: no-repeat; */
  min-height: 100vh;
  background-size: cover;
}

.entries {
  padding-top: 120px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./secBg.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.form-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./bg-main.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;

  min-height: 100vh;
}
